@charset "UTF-8";
:root {
  --title-color:#212121 ;
  --text-color:#757575 ;
  --logo-text: #000000 ;
  --white-bgc: #FFFFFF ;
  --bgc-hero-title: #2F303A ;
  --bgc-color:#F5F5F5 ;
  --bgc-comands: #F5F4FA;
  --Blue-color: #2196F3;
  --bgc-btn-act:#188CE8 ;
  --color-adrsf: rgba(255, 255, 255, 0.6);
  --portfolio-overlay:rgba(33, 150, 243, 0.9);
  --transition-dur-n-fuc: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --icon-btn-border: rgba(0, 0, 0, 0.1);
  --input-border-color:rgba(33, 33, 33, 0.2);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  margin: -1px;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  background-color: var(--white-bgc);
  color: var(--title-color);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section:nth-child(3) {
  padding-top: 0;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--logo-text);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.page-header {
  border: 1px solid #ECECEC;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu__list {
  display: flex;
  margin-left: 93px;
}

/* Маржин вправо */
.nav-menu__item {
  margin-right: 50px;
}
.nav-menu__item:nth-child(3) {
  margin-right: 0%;
}

/* Навігація */
.nav-menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  transition: color var(--transition-dur-n-fuc);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-menu__link:hover, .nav-menu__link:focus {
  color: var(--Blue-color);
}

.nav-menu__link--current {
  color: var(--Blue-color);
  position: relative;
}
.nav-menu__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--Blue-color);
  border-radius: 2px;
}

/* Контакти */
.contakts-list {
  display: flex;
  margin-left: auto;
}

.contakts-list__item + .contakts-list__item {
  margin-left: 50px;
}

.contakts-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);
  transition: color var(--transition-dur-n-fuc);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contakts-list__link:hover, .contakts-list__link:focus {
  color: var(--Blue-color);
}

.contacts-list__svg {
  display: inline-block;
  margin-right: 10px;
  fill: var(--text-color);
}

/* Герой */
.hero {
  text-align: center;
  background-color: var(--bgc-hero-title);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgchero.jpg);
  background-color: #C4C4C4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-bgc);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Головна кнопка */
.hero__btn {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  transition: background-color var(--transition-dur-n-fuc);
  background-color: var(--Blue-color);
  color: var(--white-bgc);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero__btn:hover {
  background-color: var(--bgc-btn-act);
  color: var(--white-bgc);
}

/* Переваги */
.features-list__item {
  margin-right: 30px;
}
.features-list__item:last-child {
  margin-right: 0%;
}

.features__thumb {
  margin-bottom: 30px;
}
.features__thumb::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bgc-comands);
  border-radius: 4px;
}

.features__thumb--icon-antena::before {
  background-image: url(../images/antenna.svg);
}

.features__thumb--icon-clock::before {
  background-image: url(../images/clock.svg);
}

.features__thumb--icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.features__thumb--icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__descr {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-list__img__pozition {
  position: relative;
}

.work-list__overlay {
  position: absolute;
  bottom: 0;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-bgc);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда  */
.employes-list {
  display: flex;
  justify-content: space-between;
}

.bgc-team {
  background-color: var(--bgc-comands);
}

/* Ім'я працівників */
.employes-list__title {
  margin: 0;
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Ким працюють */
.employes-list__text {
  margin-top: 0%;
  margin-bottom: 16px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.employes-list__card {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Іконки соц мереж */
.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.socials__item:last-child {
  margin-right: 0;
}

/* Іконки соц мереж в команді */
.socials__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  background-color: var(--white-bgc);
  border-radius: 50%;
  transition: background-color var(--transition-dur-n-fuc);
  /* Ховер для іконок */
}
.socials__link:hover {
  background-color: var(--Blue-color);
}
.socials__link:hover .socials__icon {
  fill: var(--white-bgc);
}

.socials__icon {
  fill: currentColor;
  transition: fill var(--transition-dur-n-fuc);
}

/* Секція кліенти */
.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-list__link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: border-color var(--transition-dur-n-fuc);
}
.clients-list__link:hover {
  border-color: var(--Blue-color);
}
.clients-list__link:hover .clients-list__icon {
  fill: var(--Blue-color);
}

.clients-list__icon {
  fill: currentColor;
  transition: fill var(--transition-dur-n-fuc);
}

.button-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.button-list__item {
  margin-right: 8px;
}
.button-list__item:last-child {
  margin-right: 0;
}

.button-list__menu-btn {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--bgc-comands);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color var(--transition-dur-n-fuc), background-color var(--transition-dur-n-fuc), box-shadow var(--transition-dur-n-fuc);
}
.button-list__menu-btn:hover {
  background-color: var(--Blue-color);
  color: var(--white-bgc);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list__link {
  display: block;
  transition: box-shadow var(--transition-dur-n-fuc);
}
.portfolio-list__link:hover, .portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list__link:hover .portfolio-list__overlay, .portfolio-list__link:focus .portfolio-list__overlay {
  transform: translate(0, 0);
}

.portfolio-list__wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-list__overlay {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  padding: 63px 24px;
  overflow: auto;
  transition: transform var(--transition-dur-n-fuc);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: var(--portfolio-overlay);
  color: var(--white-bgc);
}

.portfolio-list__card {
  padding: 20px 24px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-inline-start-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
}

.portfolio-list__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}

.portfolio-list__descr {
  margin: 0%;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--backdrop-color);
  transition: opacity var(--transition-dur-n-fuc), visibility var(--transition-dur-n-fuc);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--white-bgc);
}

.modal-close__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--white-bgc);
  border: 1px solid var(--icon-btn-border);
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--transition-dur-n-fuc);
}

.modal-icon__close:hover {
  fill: var(--Blue-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Form */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--text-color);
}

.modal-form__control {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition-dur-n-fuc);
}
.modal-form__input:focus {
  border-color: var(--Blue-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
}

.modal-form__control:focus-within .modal-form__icon {
  fill: var(--Blue-color);
}

.modal-form__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  outline: none;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment:focus {
  border-color: var(--Blue-color);
}

.modal-form__check {
  appearance: none;
}

.modal-form__check-desc {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.modal-form__check-desc::before {
  content: "";
  background-image: url(../images/Vector.svg);
  margin-right: 10px;
  width: 16px;
  height: 15px;
}

.modal-form__check:checked + .modal-form__check-desc::before {
  content: "";
  background-image: url(../images/icon-check.svg);
  margin-right: 10px;
  width: 16px;
  height: 15px;
}

.modal-form__policy-link {
  color: var(--Blue-color);
  text-decoration: underline;
}

.modal-form__submit {
  min-width: 200px;
  align-items: center;
  align-self: center;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--Blue-color);
  color: var(--white-bgc);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-dur-n-fuc);
}
.modal-form__submit:focus, .modal-form__submit:hover {
  background-color: var(--bgc-btn-act);
}

/* Флекс для футера */
.footer {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bgc-hero-title);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.adress__list {
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--white-bgc);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address {
  font-style: normal;
}

.address__link {
  padding-bottom: 9px;
  color: var(--white-bgc);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color var(--transition-dur-n-fuc);
}
.address__link:hover {
  color: var(--Blue-color);
}

.footer__link {
  color: var(--color-adrsf);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color var(--transition-dur-n-fuc);
}
.footer__link:hover {
  color: var(--Blue-color);
}

.footer-social-container__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-bgc);
}

.footer-social-container__item {
  display: flex;
  margin-right: 10px;
  width: 44px;
  height: 44px;
}
.footer-social-container__item:last-child {
  margin-right: 0%;
}

.footer-social-container__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-bgc);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-dur-n-fuc);
}
.footer-social-container__link:hover {
  background-color: var(--Blue-color);
}

.footer-social-container__svg {
  fill: currentColor;
}

/* Форма в футері */
.footer-form {
  display: flex;
  align-items: flex-end;
  margin-left: 93px;
}

.footer-form__text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-bgc);
}

.footer-form__input {
  min-width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-bgc);
  transition: border-color var(--transition-dur-n-fuc);
}
.footer-form__input:focus {
  outline: none;
  border-color: var(--Blue-color);
}

/* Кнопка в футері */
.footer-form__btn {
  position: relative;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 10px 62px 10px 28px;
  background-color: var(--Blue-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-bgc);
  cursor: pointer;
  transition: background-color var(--transition-dur-n-fuc);
}
.footer-form__btn:hover, .footer-form__btn:focus {
  background-color: var(--bgc-btn-act);
}
.footer-form__btn::after {
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
  fill: var(--white-bgc);
}/*# sourceMappingURL=main.css.map */