    /* Секція кліенти */

    .clients-list {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
   
    .clients-list__link {
        width: 170px;
        height: 92px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        color: #AFB1B8;
        transition: border-color var(--transition-dur-n-fuc);
    
        &:hover {
            border-color: var(--Blue-color);
        }
    
       &:hover .clients-list__icon {
        fill: var(--Blue-color);
       }
    
    }

    .clients-list__icon {
        fill: currentColor;
        transition: fill var(--transition-dur-n-fuc);
       }

