/* Наша команда  */

.employes-list {
    display: flex;
    justify-content: space-between;
}

.bgc-team {
    background-color:var(--bgc-comands);
}


/* Ім'я працівників */
.employes-list__title {
    margin: 0;
    margin-bottom: 10px;
    
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
/* Ким працюють */
.employes-list__text {
    margin-top: 0%;
    margin-bottom: 16px;
    
    
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    }


    .employes-list__card {
    padding-top: 30px;
    padding-bottom: 30px;   
    background-color: var(--white-bgc);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    }


    /* Іконки соц мереж */

    
    .socials {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .socials__item {
        width: 44px;
        height: 44px;
        margin-right: 10px;

        &:last-child{
            margin-right: 0;
        }
       
    }

    
    /* Іконки соц мереж в команді */
    .socials__link {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        color:  #AFB1B8;
        background-color: var(--white-bgc);
        border-radius: 50%;
        transition:  background-color var(--transition-dur-n-fuc);

          /* Ховер для іконок */
        &:hover  {
            background-color: var(--Blue-color);
        }

        &:hover .socials__icon {
        
            fill: var(--white-bgc);
        }
    

    }


    .socials__icon {
        fill: currentColor;
        transition: fill var(--transition-dur-n-fuc);
    }

   