
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--backdrop-color);
    transition: opacity var(--transition-dur-n-fuc), visibility var(--transition-dur-n-fuc);

}

.modal-window {
    position: absolute;
    top:50%;
    left: 50%;
    padding: 40px;
    transform:translate(-50%, -50% );
    width: 528px;
    height: 581px;
    background-color:var(--white-bgc);
}


.modal-close__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--white-bgc);
    border: 1px solid var(--icon-btn-border);
    border-radius: 50%;
    cursor: pointer;
    transition: fill var(--transition-dur-n-fuc);
  }

  .modal-icon__close:hover {
    fill: var(--Blue-color);
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
 

  /* Form */
  .modal-form {
    display: flex;
    flex-direction: column;
    
  }

  .modal-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-top: 0;
    margin-bottom: 12px;
  }


  .modal-form__label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: var(--text-color);
  }


  .modal-form__control {
    position: relative;
   margin-bottom: 10px;
  }


  .modal-form__input {
    width: 100%;
    height: 40px;
    padding:12px 42px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    outline: none;
    transition: border-color var(--transition-dur-n-fuc);

    &:focus {
      border-color: var(--Blue-color);
    }

  }



  .modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: currentColor;
  }

  .modal-form__control:focus-within .modal-form__icon {
    fill: var(--Blue-color);
  }


  .modal-form__comment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    resize: none;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    outline: none;

    color: rgba(117, 117, 117, 0.5);

    &:focus {
      border-color: var(--Blue-color);
    }
  

  }

 
  .modal-form__check {
    appearance: none;
  }

  .modal-form__check-desc {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.71;
    /* identical to box height, or 171% */

    letter-spacing: 0.03em;

    color: var(--text-color);

    &::before{
      content: '';
      background-image: url(../images/Vector.svg);
      margin-right: 10px;
      width: 16px;
      height: 15px;
      
    }

  }



  .modal-form__check:checked + .modal-form__check-desc::before {
    content: '';
    background-image: url(../images/icon-check.svg);
    margin-right: 10px;
    width: 16px;
    height: 15px;
  }


  .modal-form__policy-link {
    color: var(--Blue-color);
    text-decoration: underline;
  }
 
  .modal-form__submit {
    min-width: 200px;
    align-items: center;
    align-self: center;
    padding:10px 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--Blue-color);
    color: var(--white-bgc);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color var(--transition-dur-n-fuc) ;
    
    &:focus , &:hover {
      background-color: var(--bgc-btn-act);
    }

  }

