/* Переваги */

.features-list__item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0%;
    }
}




.features__thumb{
    margin-bottom: 30px;

    &::before {
        display: block;
        content: "";
        height: 120px;
        
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--bgc-comands);
        border-radius: 4px;
    }

}



.features__thumb--icon-antena::before {
    
    background-image: url(../images/antenna.svg);
}

.features__thumb--icon-clock::before {
    background-image: url(../images/clock.svg);
}

.features__thumb--icon-diagram::before {
    background-image: url(../images/diagram.svg);
}

.features__thumb--icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
}


.features__title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features__descr {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}